container_commands:	
  00_stuff:
    command: "sudo yum install python3-devel;sudo yum install python3-devel mysql-devel;"
  01_migrate:
    command: "django-admin.py migrate"
    leader_only: true
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: playlistAPI.settings